* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

CHANGELOG.md export-ignore
.env.encrypted export-ignore
.env.backup.encrypted export-ignore
.env.staging.encrypted export-ignore
.env.production.encrypted export-ignore
